*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-container{
  position: relative;
  width: 700px;
  height: 500px;
  border-bottom: 10px solid green;
  margin: 2rem auto;
  overflow: hidden;
  background: linear-gradient(0deg, rgb(131, 232, 255) 0%, rgba(0,202,255,1) 100%);
}

.pipe{
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  animation: pipeAnimation 1500ms linear infinite;
}

.mario{
  position: absolute;
  bottom: 0px;
  height: 120px;
}

.clouds{
  position: absolute;
  width: 300px;
  top: 30px;
  animation: cloudsAnimations 20s linear infinite;
}

.jump{
  animation: marioJump .5s;
}

@keyframes pipeAnimation {
  from{
    right: -80px;
  }
  to{
    right: 780px;
  }
}

@keyframes marioJump {
  0%{
    bottom: 0;
  }

  40%{
    bottom: 180px;
  }

  50%{
    bottom: 180px;
  }

  60%{
    bottom: 180px;
  }

  100%{
    bottom: 0;
  }
}

@keyframes cloudsAnimations {
  from{
    right: -300px;
  }
  to{
    right: 1000px;
  }
}